@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root{
    --margin-left: 5vw;
    --introduction-fontsize: 1.8rem;
    --label-fontsize: 0.8rem;
    --input-fontsize: 1.1rem;
    --form-grid-gap: 30px;
    --input-border: #dddddd;
    --invalid: pink;
    --valid:  rgb(228, 243, 212);
}

body {
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.theme-box {
    position: relative;
    display: flex;
    width: 40vw;
    min-width: 40vw;
    height: auto;
}

.background-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

.theme-title {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 24vh;
    width: 100%;
    font-size: 3rem;
    padding: 2vh;
    padding-top: 2vh;
    background-color: rgba(0, 0, 0, 0.322);
    justify-content: center;
    align-items: center;
    gap: 3%;
    overflow: hidden;
}

.theme-image {
    height: 7rem;
}

.content-box > p, .haveAccount {
    margin-left: var(--margin-left);
    margin-top: 3vh;
}

.content-box > .introduction {
    font-size: var(--introduction-fontsize);
    margin-top: 13vh;
    margin-right: calc(var(--margin-left)*2.5);
}

.haveAccount {
    padding-bottom: 0.5em;
}

.introduction2 {
    font-size: var(--introduction-fontsize);
    margin-bottom: 8vh;
}

#myform {
    white-space: nowrap;
    padding: var(--form-grid-gap) var(--margin-left);
    background-color: antiquewhite;
}

#myform > p {
    font-size: var(--introduction-fontsize);
    padding-bottom: var(--form-grid-gap);
}

#myform > ul > li {
    display: flex;
    flex-direction: column;
}
#myform > ul > li > .hobbies {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

#myform label{
    font-size: var(--label-fontsize);
}

#myform label.hobby-text, #myform label.gender-text{
    font-size: var(--input-fontsize);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    column-gap: var(--margin-left);
    row-gap: var(--form-grid-gap);
}

#myform input, #myform textarea {
    padding: 0.3em 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-family: inherit;
    font-size: var(--input-fontsize);
    max-width: 14em;
}

#myform select{
    padding: 0.2em 0.5em;
    width: 120px;
    border: 1px solid var(--input-border);
    font-size: var(--input-fontsize);
    background-color: #eee;
    border-radius: 5px;
}

#myform select:hover {
    cursor: pointer;
}

#myform textarea {
    padding-bottom: 2.5rem;
}

#myform  .requirement{
    padding: 0;
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
}

#myform  input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + .requirement{
    max-height: 200px;
    padding: 0.5rem 0 1rem 0;
}

#myform  input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) + .requirement{
    max-height: 200px;
    padding: 0.5rem 0 1rem 0;
}

#myform  input[type="password"].invalid:not(:focus) + .requirement{
    max-height: 200px;
    padding: 0.5rem 0 1rem 0;
}

#myform input[type="password"].invalid:not(:focus){
    background: var(--invalid);
}

#myform input[type="password"].valid{
    background: var(--valid);
}

#myform input[type="email"]:invalid:not(:focus):not(:placeholder-shown){
    background: var(--invalid);
}

#myform input[type="tel"]:invalid:not(:focus):not(:placeholder-shown){
    background: var(--invalid);
}

#myform input:focus{
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.24);
}

.button-area {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.sign-up-bttn {
    padding: 0.8em 2em;
    background-color: rgb(129, 255, 171);
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    font-size: var(--input-fontsize);
    transition: 0.28s;
    
}

.sign-up-bttn:hover {
    cursor: pointer;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.24);
}

a{
    font-size: var(--input-fontsize);
    text-decoration: none;
    color: aqua;
}

